<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="app/assets/css/slider.css">
<style>
    .question {
        height: auto;
        text-align: left;
        width: auto;
        background-color: #fff;
        color: #000;
    }

    .questions {
        border-radius: 3px;
        height: auto;
        text-align: left;
        padding: 50px 50px 50px 30px;
        width: auto;
        margin: 0 40px 40px 40px;
        background-color: #fff;
        box-shadow: inset 0 0 7px black, 0 0 7px black;
        color: #000;
    }

    #category {
        color: #0d3349;
    }
</style>
<div id="questionnaire" style="text-align: center;">
    <br>
    <h2>Questions</h2>
    <hr>
    <div class="form-group">
        <label class="control-label col-xs-4">Question Area:</label>
        <select class="form-group col-xs-5" id="category">
            <option value="Ekonomija">Ekonomija</option>
            <option value="Pravosuđe">Pravosuđe</option>
            <option value="Obrazovanje">Obrazovanje</option>
            <option value="Zdravstvo">Zdravstvo</option>
            <option value="Socijalna zaštita">Socijalna zaštita</option>
            <option value="Poljoprivreda">Poljoprivreda</option>
            <option value="Društvo">Društvo</option>
            <option value="Spoljna politika">Spoljna politika</option>
            <option value="Mediji">Mediji</option>
            <option value="Ekologija">Ekologija</option>
            <option value="Budžetski prioriti">Budžetski prioriti</option>
        </select>
    </div>
    <br>
    <hr>
    <div id="questions">
        <br>
        {{#each categories}}
            <div id="{{name}}" class="categories">
                <br>
                <h2>{{ name }}</h2>
                <br>
            <div class="questions">
                {{#if_eq name "Budžetski prioriti"}}
                    <div class="question">
                        <h1>Under construction...</h1>
                    </div>
                {{else}}
                    {{#each questions}}
                        <div class="question">
                            {{setIndex @text}}
                            <div style="margin-top:-50px;">
                                <h2>
                                    {{text}}
                                </h2><br>
                                <div class="radio-div">
                                    {{#each possibleAnswers}}
                                        <input type="radio" id="{{../text}} {{value}}" value="{{value}}"
                                               name="{{../text}}">
                                        <label for="{{../text}} {{value}}"><span></span>&nbsp;{{text}}</label>
                                        <br>
                                    {{/each}}
                                </div>
                            </div>
                            <fieldset class="question-fieldset">
                                <div style="text-align: center">
                                    <h4 style="color: #000;">Importance Level</h4>
                                </div>
                                <div class="round">
                                    <div class="slider"></div>
                                </div>
                                <label class="col-xs-4 slider-label" for="a1"><input type="radio"
                                                                                     name="importance_level"
                                                                                     id="a1"
                                                                                     data-value="86" value="Least">Nije
                                    važno</label>

                                <label style="margin-left: 50px;" class="col-xs-4 slider-label" for="a2"><input
                                        type="radio"
                                        name="importance_level"
                                        id="a2"
                                        data-value="87"
                                        value="Less">Manje
                                    važno</label>

                                <label style="margin-left: 50px;" class="col-xs-4 slider-label" for="a3"><input
                                        type="radio"
                                        name="importance_level"
                                        id="a3"
                                        data-value="88"
                                        value="Somewhat"
                                        checked="checked">Važno</label>

                                <label style="margin-left: 30px;" class="col-xs-4 slider-label" for="a4"><input
                                        type="radio"
                                        name="importance_level"
                                        id="a4"
                                        data-value="89"
                                        value="More important">Veoma
                                    važno</label>
                            </fieldset>
                            <br>
                            <hr class="hr-style" style="width: 100%;">
                        </div>
                        <br><br>
                    {{/each}}
                {{/if_eq}}
                </div>
            </div>
        {{/each}}
        <br>
        <button id="btn_save" style="margin-left: -5%;" class="btn btn-primary">Show My Results</button>
        <br>
    </div>
    <br>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.question-fieldset').each(function () {
            var radios = $(this).find(':radio').hide();
            console.log(radios);
            $('.slider').slider({
                min: parseInt(radios.first().data('value'), 10),
                max: parseInt(radios.last().data('value'), 10),
                slide: function (event, ui) {
                    $(this).closest('.question').find('[data-value=' + ui.value + ']').click();
                }
            });
        });

        $(".categories").each(function () {
            if ($(this).attr("id") == 'Ekonomija') {
                $(this).css("display", "block");
            } else {
                $(this).css("display", "none");
            }
        });
    })
</script>