<style>
    .question {
        height: auto;
        text-align: left;
        width: auto;
        background-color: #fff;
        color: #000;
    }

    .questions {
        border-radius: 3px;
        height: auto;
        text-align: left;
        padding: 50px 50px 50px 30px;
        width: auto;
        overflow: hidden;
        margin: 0 40px 40px 40px;
        background-color: #fff;
        box-shadow: inset 0 0 7px black, 0 0 7px black;
        color: #000;
    }

    .left {
        width: 49%;
        height: 400px;
        float: left;
        text-align: center;
        border-right: 1px solid black;
    }

    .right {
        text-align: center;
        width: 49%;
        height: 400px;
        float: right;
    }

    #category {
        color: #0d3349;
    }
</style>
<div id="questionnaire" style="text-align: center;">
    <br>
    <hr>
    <h4>Pitanja</h4>
    <a id="top" style="display: none"></a>
    <hr>
    <div id="questions">
        {{#each categories}}
            <div id="{{name}}" class="categories">
                <h3>{{ name }}</h3><h4 class="control-label" style="padding: 5px;">
                Deo <b>
                {{#if_eq name "Ekonomija"}} 1/11{{/if_eq}}
                {{#if_eq name "Pravosuđe"}} 2/11{{/if_eq}}
                {{#if_eq name "Obrazovanje"}} 3/11{{/if_eq}}
                {{#if_eq name "Zdravstvo"}} 4/11{{/if_eq}}
                {{#if_eq name "Socijalna zaštita"}} 5/11{{/if_eq}}
                {{#if_eq name "Poljoprivreda"}} 6/11{{/if_eq}}
                {{#if_eq name "Društvo"}} 7/11{{/if_eq}}
                {{#if_eq name "Spoljna politika"}} 8/11{{/if_eq}}
                {{#if_eq name "Mediji"}} 9/11{{/if_eq}}
                {{#if_eq name "Ekologija"}} 10/11{{/if_eq}}
                {{#if_eq name "Budžetski prioriti"}} 11/11{{/if_eq}}
                </b></h4>
                <br>
                <div class="questions">
                    {{#if_eq name "Budžetski prioriti"}}
                        <div class="question">
                            <div class="left">
                                <h3>Povećati budžet</h3>
                                <div class="increase_budget_chb" style="padding-left: 50px; text-align: left;">
                                    <!--Vojska", "Kultura", "Socijalna zažtita", "Policija", "Nauka", "Zdravstvo", "Obrazovanje"-->
                                    <br>
                                    <input type="checkbox" name="chb-increase" id="Vojska_in" value="Vojska"
                                           class="css-checkbox">
                                    <label for="Vojska_in" class="css-label">Vojska</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-increase" id="Kultura_in" value="Kultura"
                                           class="css-checkbox">
                                    <label for="Kultura_in" class="css-label">Kultura</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-increase" id="Socijalna_zažtita_in"
                                           value="Socijalna zažtita"
                                           class="css-checkbox">
                                    <label for="Socijalna_zažtita_in" class="css-label">Socijalna zažtita</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-increase" id="Policija_in" value="Policija"
                                           class="css-checkbox">
                                    <label for="Policija_in" class="css-label">Policija</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-increase" id="Nauka_in" value="Nauka"
                                           class="css-checkbox">
                                    <label for="Nauka_in" class="css-label">Nauka</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-increase" id="zdravstvo_in" value="Zdravstvo"
                                           class="css-checkbox">
                                    <label for="zdravstvo_in" class="css-label">Zdravstvo</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-increase" id="obrazovanje_in" value="Obrazovanje"
                                           class="css-checkbox">
                                    <label for="obrazovanje_in" class="css-label">Obrazovanje</label>
                                    <br>
                                </div>
                            </div>
                            <div class="right">
                                <h3>Smanjiti budžet</h3>
                                <div class="decrease_budget_chb" style="padding-left: 50px; text-align: left;">
                                    <!--Vojska", "Kultura", "Socijalna zažtita", "Policija", "Nauka", "Zdravstvo", "Obrazovanje"-->
                                    <br>
                                    <input type="checkbox" name="chb-decrease" id="Vojska_de" value="Vojska"
                                           class="css-checkbox">
                                    <label for="Vojska_de" class="css-label">Vojska</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-decrease" id="Kultura_de" value="Kultura"
                                           class="css-checkbox">
                                    <label for="Kultura_de" class="css-label">Kultura</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-decrease" id="Socijalna_zažtita_de"
                                           value="Socijalna zažtita"
                                           class="css-checkbox">
                                    <label for="Socijalna_zažtita_de" class="css-label">Socijalna zažtita</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-decrease" id="Policija_de" value="Policija"
                                           class="css-checkbox">
                                    <label for="Policija_de" class="css-label">Policija</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-decrease" id="Nauka_de" value="Nauka"
                                           class="css-checkbox">
                                    <label for="Nauka_de" class="css-label">Nauka</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-decrease" id="zdravstvo_de" value="Zdravstvo"
                                           class="css-checkbox">
                                    <label for="zdravstvo_de" class="css-label">Zdravstvo</label>
                                    <br>
                                    <br>
                                    <input type="checkbox" name="chb-decrease" id="obrazovanje_de" value="Obrazovanje"
                                           class="css-checkbox">
                                    <label for="obrazovanje_de" class="css-label">Obrazovanje</label>
                                    <br>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        {{#each questions}}
                            <div class="question">
                                {{setIndex @text}}
                                <div style="margin-top:-50px;">
                                    <h3>
                                        {{text}}
                                    </h3><br>
                                    <div class="radio-div">
                                        {{#each possibleAnswers}}
                                            <input type="radio" id="{{../text}} {{value}}" value="{{value}}"
                                                   name="{{../text}}">
                                            <label for="{{../text}} {{value}}"><span></span>&nbsp;{{text}}</label>
                                            <br>
                                        {{/each}}
                                    </div>
                                </div>
                                <fieldset class="question-fieldset">
                                    <div style="text-align: center">
                                        <h5 style="color: #000;">Koliko je ovo pitanje važno</h5>
                                    </div>
                                    <div class="round">
                                        <div class="slider"></div>
                                    </div>
                                    <label class="col-xs-4 slider-label" for="a1">
                                        <input type="radio"
                                         name="importance_level"
                                         id="a1"
                                         data-value="86"
                                         value="Nije važno">
                                        Nije važno
                                    </label>

                                    <label style="margin-left: 50px;" class="col-xs-4 slider-label" for="a2"><input
                                            type="radio"
                                            name="importance_level"
                                            id="a2"
                                            data-value="87"
                                            value="Manje važno">Manje važno</label>

                                    <label style="margin-left: 50px;" class="col-xs-4 slider-label" for="a3"><input
                                            type="radio"
                                            name="importance_level"
                                            id="a3"
                                            data-value="88"
                                            value="Važno"
                                            checked="checked">Važno</label>

                                    <label style="margin-left: 30px;" class="col-xs-4 slider-label" for="a4"><input
                                            type="radio"
                                            name="importance_level"
                                            id="a4"
                                            data-value="89"
                                            value="Veoma">Veoma
                                        važno</label>
                                </fieldset>
                                <br>
                                <hr class="hr-style" style="width: 100%;">
                            </div>
                            <br><br>
                        {{/each}}
                    {{/if_eq}}
                </div>
            </div>
        {{/each}}

    </div>
    <div class="row divResult" style="display: none;">
        <button id="btn_save" style="margin-left: -5%;" class="btn btn-default">Prikaži rezultate</button>
    </div>
    <br>
    <div class="row">
        <div class=" col-xs-4" style="padding: 5px;">
            <a id="prevBtn" href="#top" class="btn btn-sm btn-default col-xs-3" name="prev">Prethodni</a>
        </div>
        <div class=" col-xs-offset-4 col-xs-4" style="padding: 5px;">
            <a id="nextBtn" href="#top" class="btn btn-sm btn-default col-xs-3 pull-right" name="next">Sledeći</a>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('#prevBtn').prop('disabled', true);

        var divs = $("#questions > div");
        var now = 0; // currently shown div
         $("#nextBtn").click(function (e) {
            divs.eq(now).hide();
            now = (now + 1 < divs.length) ? now + 1 : 0;
            divs.eq(now).show(); // show next
            if(now == 10){
                $('.divResult').show();
                $('#nextBtn').hide();
            }
            if(now != 0){
                $('#prevBtn').hide();
            }
        });

        $("#prevBtn").click(function (e) {
            divs.eq(now).hide();
            now = (now > 0) ? now - 1 : divs.length - 1;
            divs.eq(now).show();
            if(now != 10){
                $('.divResult').hide();
                $('#nextBtn').show();
            }
            if(now == 0){
                $('#prevBtn').show();
            }
        });

        $('.question-fieldset').each(function () {
            var radios = $(this).find(':radio').hide();
            //console.log(radios);
            $('.slider').slider({
                min: parseInt(radios.first().data('value'), 10),
                max: parseInt(radios.last().data('value'), 10),
                slide: function (event, ui) {
                    $(this).closest('.question').find('[data-value=' + ui.value + ']').click();
                }
            });
        });

        $(".css-checkbox").change(function () {
            var id = $(this).attr("id");
            var opposite_id = "";

            if (id.indexOf("_in") > 0) {
                opposite_id = id.replace("_in", "_de");
            } else {
                opposite_id = id.replace("_de", "_in");
            }
            var opposite_label = $('label[for="' + opposite_id + '"]');
            var current_label = $('label[for="' + id + '"]');
            if ($(this).prop('checked')) {
                $("#" + opposite_id).attr("disabled", true);
                $("#" + id).removeAttr("disabled");

                opposite_label.css("text-decoration", "line-through");
                opposite_label.css("background-image", "url('/app/glasomer/app/assets/img/checkbox_unclicked.png')");
                current_label.css("text-decoration", "none");
            } else {
                $("#" + id).removeAttr("disabled", true);
                opposite_label.css("background-image", "url('/app/glasomer/app/assets/img/checkbox.png')");
                $("#" + opposite_id).removeAttr("disabled");
                opposite_label.css("text-decoration", "none");
                current_label.css("text-decoration", "none");
            }
        });

        $(".categories").each(function () {
            if ($(this).attr("id") == 'Ekonomija') {
                $(this).css("display", "block");
            }
            else {
                $(this).css("display", "none");
            }
        });
    });
</script>